* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #350a4c;
    --secondary-color: #000000;
    --bg-dark-blue: #192842;
    --bg-white: #fff;
    --gray-color: #c6c9d8bf;
    --gradient-color: linear-gradient(-224deg, var(--primary-text)0, #b5179e 100%);
    --gradient-text: linear-gradient(120deg, #7209b7 20.68%, #f72585 50.19%, var(--primary-color) 79.68%);
    filter: progid:DXimageTransform.Microsoft.gradient(startColorstr='var(--primary-color)', endColorstr='var(--secondary-color)', GradientType=1);

       /*text color*/
       --primary-font:'Poppins', sans-serif;
       --primary-text: #fff709;
       --text-gray: #c6c9d8bf;
       --text-white: #fff;

}

body {
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
}

  /*custom scrollbar*/

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--primary-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section {
    padding: 50px 0;
}

.main-btn {
    display: inline-block;
    border-radius: 50px;
    transition:all .4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border: 2px solid var(--gray-color);
    color: var(--text-gray);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.main-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--bg-white);
}

h1 {
    font-size: 54px;
    line-height: 40px;
    font-weight: 700;
    color: var(--bg-white);
    margin-bottom: 20px;
}

h1 span {
    color: #9413da;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    line-height: 1.3;
    font-weight: 400;
    color: var(--bg-white);
    margin-bottom: 15px;
    
}

h2 span {
    font-size: 50px;
    line-height: 1.3;
    font-weight: 500;
    color: var(--bg-white);
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--bg-white);
    margin-bottom: 19px;
}

h6 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    color: var(--text-gray);
    margin-bottom: 20px;
}

p {
    color: var(--text-gray);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}

p span {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0;
}

.subtitle {
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5;
    line-height: 30px;
    font-size: 30px;
    margin-bottom: 12px;
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button {
    outline: none !important;
    box-shadow: none !important;
}

   /*navbar*/

.header_wrapper .navbar {
    padding:15px 0;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 120px;
    height: auto;   
    color: #293241;
}

.header_wrapper .navbar-toggler {
    border: 0;
    color: var(--gray-color);
    line-height: 2;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-gray);
    display: inline-block;
}

.header_wrapper .nav-item .nav-link::after {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-text);
    transition: 0.3s;
    bottom: 0;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
     width: 100%;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover{
    color: var(--bg-white);
}

.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    -webkit-box-shadow: 0 4px 6px 0 (12,0,46,.5) var(--primary-color);
    box-shadow: 0 4px 6px 0 (12,0,46,.5) var(--primary-color);
}


.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover{
    color: var(--primary-text);
}


.banner_wrapper {
    width: 100%;
    min-height: 671px;
    background-image: url('../images/a-bg-pg1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 200px 0 100px 0;
}

.services_wrapper {
    width: 100%;
    min-height: max-content;
    background-image: url('../images/a-bg-2-3-4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.portfolio_wrapper {
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 0 100px 0;
}

.services_wrapper .card {
    height: 100%;
    min-height: 310px;
    overflow: hidden;
    border: 1px solid var(--bg-white);
    cursor: pointer;
    box-shadow: 0 0 16px 4px #350a4c;

}

.services_wrapper .card span {
    transition:background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position:top center;
    background-size: cover;
}

.services_wrapper .card:hover span {
    background-position: bottom center;
}


.social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color: #9413da;
  color:#fff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.discord:hover {
   background-color: #314b83;
}

.social-icons a.facebook:hover{
  background-color:#3b5998;
}

.social-icons a.instagram:hover{
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.social-icons-1 a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.social-icons-1
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.social-icons-1 li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons-1 li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons-1 a{
  background-color: #fff;
  color: #000000;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}
.social-icons-1 a:active,.social-icons-1 a:focus,.social-icons-1 a:hover
{
  color:#fff;
}
.social-icons-1 .size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons-1 a.discord:hover {
   background-color: #314b83;
}

.social-icons-1 a.facebook:hover{
  background-color:#3b5998;

}

.social-icons-1 a.instagram:hover{
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.learn-mr {
    background-image: url('../images/services/logo.png');
    height: 350px;
    width: 350px;
}

.learn-mr:hover {
    cursor: pointer;
    height: 350px;
    width: 350px;
}

.learn-mr-ol {
    background-image: url('../images/services/overlay.jpg');
    height: 350px;
    width: 350px;
}

.learn-mr-ol:hover {
    cursor: pointer;
    height: 350px;
    width: 350px;
}

.learn-mr-br {
    background-image: url('../images/services/banner.png');
    height: 350px;
    width: 350px;
}

.learn-mr-br:hover {
    cursor: pointer;
    height: 350px;
    width: 350px;
}

.overlay-ht {
    image-resolution: 2800px 500px;
}



.bnr-bt {
    width: 100%;
    height: 100%;
}

.contact_wrapper {
    width: 100%;
    background-image: url('../images/a-bg-pg5.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.ftr-fb:hover {
    color: #3b5998;
}

.ftr-dc:hover {
    color: #314b83;
}

.ftr-insta:hover {
    color: #d6249f;
    color: radial-gradient(text at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}